.index-list {
    height: 60px;
    margin-bottom: 30px;
    ul {
        margin-top: 20px;
        li {
            width: 200px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            float: left;
            margin: 0 16px;
            background-color: #1B6FAB;
            &:hover {
                .comm-opacity;
                cursor: pointer;
            }
            a {
                width: 200px;
                height: 60px;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

.index-hotnew {
    position: relative;
    margin-bottom: 30px;
    height: 590px;
    .left {
        width: 550px;
        height: 590px;
        // border: 1px solid #000;
        .top {
            h2 {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
                font-size: 18px;
                text-align: center;
            }
            p {
                color: #888;
                line-height: 22px;
            }
        }
        .bottom {
            margin-top: 30px;
            ul {
                width: 550px;
                margin: 0 auto;
                li {
                    text-align: center;
                    width: 260px;
                    display: inline-block;
                    margin-left: 8px;
                    img {
                        margin-bottom: 10px;
                    }
                    a {
                        text-align: center;
                        color: #333;
                    }
                }
            }
        }
    }
    .center {
        position: absolute;
        top: 0;
        left: 570px;
        width: 290px;
        height: 590px;
        // border: 1px solid #000;
        ul > li {
            height: 75px;
            margin-bottom: 10px;
            position: relative;
            border-bottom: 1px #e7e7e7 solid;
            &:hover {
                .comm-opacity;
                border-bottom: 1px #1B6FAB solid;
            }
            p {
                position: absolute;
                color: #333;
                height: 60px;
                font-size: 16px;
                overflow: hidden;
                left: 110px;
                top: 0;
            }
        }
    }
    .right {
        position: absolute;
        top: 0;
        left: 880px;
        width: 290px;
        height: 590px;
        // border: 1px solid #000;
        ul > li {
            margin-bottom: 20px;
        }
    }
}

.index-hotgame {
    margin-bottom: 30px;
    .title {
        height: 28px;
        background-color: #e3e3e3;
        h2 {
            width: 88px;
            height: 28px;
            line-height: 28px;
            color: #f2a455;
            background-color: #fff;
            margin-left: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 22px;
        }
    }
    .content {
        overflow: hidden;
        ul > li {
            position: relative;
            width: 210px;
            height: 122px;
            display: inline-block;
            margin-top: 20px;
            margin-right: 10px;
            margin-left: 10px;
            background-color: #f0f1f1;
            border-bottom: 2px solid #e2e2e2;
            .middle {
                // height: 98px;
                padding: 15px;
                border-bottom: 1px solid #e2e2e2;
                .game-content {
                    position: absolute;
                    padding: 15px;
                    left: 80px;
                    top: 0;
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 12px;
                        padding-top: 4px;
                        color: #999;
                        em {
                            color: #f60;
                        }
                    }
                }
            }
            .bottom {
                width: 210px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                a {
                    display: inline-block;
                    width: 210px;
                    height: 26px;
                    font-size: 12px;
                    color: #666;
                    &:hover {
                        background-color: #e2e2e2;
                        color: #f60;
                    }
                }
            }
        }
    }
}
